@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: cornflowerblue;
    padding: 0.1px 16px;
    color: white;
    display: flex;
    flex-direction: row;
border-radius:0 0 0 60px;

}

header h1{
text-align: center;
flex-grow: 100;
}

header button {
    color: white;
text-align: right;
padding: 2px 2px;
margin: auto;
}

.container-header {
color: cornflowerblue;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.wrapper .container {
    width: 1024px;
    border-radius: 32px;
    margin: 16px;
    background: white;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}



#selesai {
    background: #f2f2f2;

}

 #add-book{
     position: -webkit-sticky;
    /* Safari */
     position: sticky;
     top: 100px;
}

.item {
    border-radius: 10px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}


.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 0 10px rgba(154, 160, 185, .3), 0 0 10px rgba(166, 173, 201, .3);
}

input[type=text], input[type=number] {
    font-family: Raleway, sans-serif;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 15px;
}

.btn-submit {
    width: fit-content;
    font-family: Raleway, sans-serif;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #5F30E2;
    color: black;
    font-size: 15px;
    margin-top: auto;
    align-self: center;
    cursor: pointer;
}

.btn-submit:hover {
    background: #5F30E2;
    color: white;
}

input[type=text], input[type=number], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    background: url('../assets/check-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button {
    background: url('../assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
flex-direction: column;
    }

 #add-book{
     position: static;
}

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }

header {
width: 100%;
}

}